<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GetFile</servlet-name>
        <servlet-class>com.linkare.assinare.web.GetFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSignedFile</servlet-name>
        <servlet-class>com.linkare.assinare.web.GetSignedFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStoredFile</servlet-name>
        <servlet-class>com.linkare.assinare.web.GetStoredFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PutFile</servlet-name>
        <servlet-class>com.linkare.assinare.web.PutFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreFile</servlet-name>
        <servlet-class>com.linkare.assinare.web.StoreFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetFile</servlet-name>
        <url-pattern>/GetFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSignedFile</servlet-name>
        <url-pattern>/GetSignedFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStoredFile</servlet-name>
        <url-pattern>/GetStoredFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PutFile</servlet-name>
        <url-pattern>/PutFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreFile</servlet-name>
        <url-pattern>/StoreFile</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>original.files.location</param-name>
        <param-value>assinare/original</param-value>
    </context-param>
    <context-param>
        <param-name>signed.files.location</param-name>
        <param-value>assinare/signed</param-value>
    </context-param>
    <context-param>
        <param-name>store.files.location</param-name>
        <param-value>assinare/files</param-value>
    </context-param>
    <context-param>
        <param-name>project.version</param-name>
        <param-value>${project.version}</param-value>
    </context-param>
    <context-param>
        <param-name>web-start-launcher.url</param-name>
        <param-value>${web-start-launcher.url}</param-value>
    </context-param>
    <context-param>
        <param-name>assinare-web.url</param-name>
        <param-value>${assinare-web.url}</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jspx</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
</web-app>
